
::-webkit-scrollbar {
  width: 4px; /* Largura do scrollbar */
  height: 4px; /* Altura do scrollbar (para scroll horizontal) */
}

::-webkit-scrollbar-thumb {
  background-color: #88888850; /* Cor do "puxador" do scrollbar */
  border-radius: 0px; /* Arredondamento das bordas */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c1c1c1; /* Cor do "puxador" quando mouse está sobre */
}

::-webkit-scrollbar-corner {
  background-color: transparent; /* Remove o quadrado branco */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Cor de fundo do track do scrollbar */
}

::selection {
  background: #F5A605;
  color: #fff;
}